@charset "UTF-8";

.star-group :checked ~ label {
	color: gold;
}

.s1:hover ~ label {
	color: gold;
}
.s2:hover ~ label {
	color: gold;
}
.s3:hover ~ label {
	color: gold;
}
.s4:hover ~ label {
	color: gold;
}
.s5:hover ~ label {
	color: gold;
}

.content {
	border: none;
}

.content:focus {
	outline: none;
}

.content {
	resize: none;
}
