@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiPoint-BlackObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* 태그 명 - output은 수정 X */
header {
    font-family: LeferiPoint-WhiteObliqueA;
}

header_biblet{
    font-family: LeferiPoint-BlackObliqueA;
}



body {
    font-family: OTWelcomeRA;
}

footer {
    font-family: LeferiPoint-BlackObliqueA;
}

footer_biblet{
    font-family: OTWelcomeRA;
}

#admin_tab_group{
    font-family: LeferiPoint-WhiteObliqueA;
}

#tab_content_group > div.active {
    display: block;
}

#tab_content_group > div {
    display: none;
}